cypress.env.json
node_modules
cypress/videos
cypress/reports
cypress/screenshots
cypress/fixtures/login.json
.env
cypress/downloads/00_smoke/
cypress/e2e/00_smoke/teste_compra.cy.js
cypress/e2e/00_smoke/02_giro_wemobi_busca_passagens.cy.js
cypress/e2e/00_utp
mobile/logs/__pycache__/*.pyc
mobile/appGiro/resources/__pycache__
mobile/appWemobi/resources/__pycache__
.github/workflows/ci_e2e_2.yml
.github/workflows/ci_e2e_3.yml
.github/workflows/ci_e2e_4.yml
.github/workflows/ci_e2e_5.yml
app