node_modules
.env
appGiro\resources\__pycache__
appWemobi\resources\__pycache__
# 🐍 Caches do Python (Limpa as pastas __pycache__ que aparecem no seu VS Code)
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# 🪵 Relatórios Locais do Robot Framework
logs/
public/
output.xml
log.html
report.html
*.png